<ion-view class="pane-int">
 <ion-nav-bar class="bar-balanced" align-title="left">
        <ion-nav-back-button>
        </ion-nav-back-button>
        <ion-nav-buttons side="right">
            <a href="tel:+61280169500" class="button btn-nav-home btn-custom-header">
                <i class="ion-android-call ion-size"></i>
            </a>
        </ion-nav-buttons>
        <ion-nav-title>
            <img src="img/navbar-logo.png" style="width: 108px;">
        </ion-nav-title>
    </ion-nav-bar>
  <ion-content>
    <div class="row">
      <div class="panelDescription shadow">
        <div class="col-md-12 mid-col program-desc" style="margin-top: 10px">
        <h3>About Maa</h3>
        <p style="margin-top: 10px">
          Muslim Aid Australia is an international relief and development agency working to support and assist the world’s poorest
          and most needy communities regardless of race, creed or nationality.</p>

        <p>Established in 1989, Muslim Aid Australia supports projects in over 50 countries spanning Africa, Asia, and Europe.
          By responding quickly to emergencies, Muslim Aid Australia provides relief to survivors of natural disasters, and
          human-caused disasters (war, civil-strife, displacement).</p>

        <p>Muslim Aid Australia also undertakes long-term development projects on education and training, provision of clean
          water and healthcare, and re-establishing livelihoods to break cycles of endemic poverty.</p>

        <p>Muslim Aid Australia is a signatory of the International Federation of Red Cross and Red Crescent (IFRCRC) Code of
          Conduct of Non-Governmental Organisations (NGO) in Disaster Relief, and supports the UN Millennium Development
          Goals (MDG).</p>

        <p>Muslim Aid Australia is also registered by the Australian Taxation Office with DGR status for tax deductible donations.
          Through our work, we hope to foster peace and sustainable development solutions for the poor in impoverished communities.
        </p>
        </div>
      </div>
    </div>
    </div>
  </ion-content>
</ion-view>