<ion-view class="pane-home">

        <ion-content scroll="false">
          <div class="row logo-row">

              <div class="col-md-12 ">
                    <img class=" img-logo" src="img/logo.png">
              </div>
          </div>

          <div class="row">
             <div class="col-md-12 mid-col" style="margin-top: 70px">
                  <h5 class="region-heading">Choose Project Region </h5>
              </div>
          </div>

          <div class="row">
             <div class="col-md-12 mid-col" style="margin-top: 10px" >
                  <a href="#/int" class="button button-block button-transparent">GLOBAL </a>
              </div>
          </div>

          <div class="row">
             <div class="col-md-12 mid-col" style="margin-top: 10px" >
                  <a href="#/loc" class="button button-block button-transparent">LOCAL (AUSTRALIA) </a>
              </div>
          </div>

          <div class="row ">
              <div class="col-md-12" style="margin-top: 20px">
                    <img class="img-or" src="img/or.png">
              </div>
          </div>

           <div class="row">
             <div class="col-md-12 mid-col" style="margin-top: 10px" >
                  <a ng-click="openBrowser()" class="button button-block button-donate">MAKE A DONATION</a>
              </div>
          </div>

        </ion-content>
</ion-view>
