<ion-view class="pane-proj">
    <ion-nav-bar class="bar-balanced" align-title="left">
        <ion-nav-back-button>
        </ion-nav-back-button>
        <ion-nav-title>
            Our Projects
        </ion-nav-title>
    </ion-nav-bar>
    <ion-content>
        <div class="row">
            <div class="panelDescription shadow">
                <div class="col-md-12 mid-col program-desc" style="margin-top: 10px">
                    <h3>{{program[0].MAA_Program[0].DocumentName}}</h3>

                    <p style="margin-top: 20px" ng-bind-html="program[0].MAA_Program[0].ProgramDescription | limitTo:numLimit"></p>
                    <div class="readmoreContainer" ng-show="program[0].MAA_Program[0].ProgramDescription.length>=300">
                        <button ng-if="program[0].MAA_Program[0].ProgramDescription.length >= 100 && readfull" type="button" class="button button-block button-readmore"
                            ng-click="readMore()">Read More <i class="ion-ios-arrow-down"></i></button>
                        <button ng-if="program[0].MAA_Program[0].ProgramDescription.length >= 100 && readless" type="button" class="button button-block button-readmore"
                            ng-click="readLess()">Read Less <i class="ion-ios-arrow-up"></i></button>
                    </div>
                </div>
          

        </p>
        <div class="row">
            <div class="col-33" ng-repeat="item in campaigns[0].MAA_Campaign">

            </div>
        </div>
        <div class="row">
            <div class="col-100 mid-col">
                <div class="text-center">
                    <ion-spinner ng-show="spinner"></ion-spinner>
                </div>
                <div class="col col-12" style="margin-top: 10px" ng-if="campaigns[0].MAA_Campaign.length>0">
                    <h4 style='color:black'>Campaigns</h4> 
                </div>
                <div class="row">
                    <div style="width:100%;min-width:330px;overflow:hidden;">
                        <div class="campaign-col" ng-repeat="product in campaigns[0].MAA_Campaign| orderBy: 'NodeOrder' | filter: {CampaignIsPublished:'true'} track by $index  ">
                       <!-- <div class="campaign-col" ng-repeat="product in campaigns[0].MAA_Campaign| orderBy: 'NodeOrder' | filter: {CampaignIsPublished:'1'} track by $index">-->
                            <img src="img/maa-faded.jpg" ng-src="https://www.maanational.org.au/{{product.CampaignThumbnail.replace('~', '')}}" ng-click="showCampaign(product)"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" ng-hide="spinner">
            <div class="col-md-12 mid-col" style="margin-top: 10px">
                <a ng-click="expressDonateLocCamp(program[0].MAA_Program[0].ProgramDefaultProject)" class="button button-block button-donate-where">DONATE FOR THIS PROJECT</a>
            </div>
        </div>
  </div>
        </div>
    </ion-content>
</ion-view>