<ion-popover-view>
        <ion-content scroll="false">
         <div class="list menu-content" >
            <a class="item" ng-click="closePopover();" href="">
              Watch: Campaign Video
            </a>
            <a class="item" ng-click="closePopover()" href="" target="_blank">
              Donation Summary
            </a>
            <a class="item" ng-click="closePopover()" href="" target="_blank">
              My Account
            </a>
            <a class="item" ng-click="closePopover();expressDonateLocCamp('634')">
              Donate Where Most Needed
            </a>
            <a class="item" ng-click="closePopover()" href="#/int" >
              Switch to Global Projects
            </a>
            <a class="item" ng-click="closePopover()" href="" target="_blank">
              About MAA
            </a>
          </div>
        </ion-content>
</ion-popover-view>