<ion-view class="pane-proj">
    <ion-nav-bar class="bar-balanced" align-title="left">
        <ion-nav-back-button>
        </ion-nav-back-button>
        <ion-nav-title >
            Our Projects
        </ion-nav-title>
    </ion-nav-bar>
    <ion-content>
    <div class="row">

        <div class="col-md-12 mid-col program-desc" style="margin-top: 10px" >
               <h4>{{data[1].MAA_Program[0].DocumentName}}</h4>

            <p>
            {{data[1].MAA_Program[0].ProgramDescription | htmlToPlaintext | limitTo:numLimit}}
            <button ng-if="data[1].MAA_Program[0].ProgramDescription.length >= 100 && readfull" type="button" class="button button-block button-readmore" ng-click="readMore()">Read More <i class="ion-ios-arrow-down"></i></button>
            <button ng-if="data[1].MAA_Program[0].ProgramDescription.length >= 100 && readless" type="button" class="button button-block button-readmore" ng-click="readLess()">Read Less <i class="ion-ios-arrow-up"></i></button>
            </div>
    </div>

    </p>
    <div class="row">
    <div class="col-33" ng-repeat="item in data[0].MAA_Campaign">

    </div>
    </div>
    <div class="row">
        <div class="col-100 mid-col">
            <ion-spinner ng-show="spinner"></ion-spinner>
            <div  ng-repeat="product in data[0].MAA_Campaign">
                <div class="row" ng-if="$index % 3 === 0" >
                    <div  class="col-33 campaign-col"  ng-init="p1 = data[0].MAA_Campaign[$index]" ><img src="img/picture.png" ng-src="https://uat.muslimaid.org.au/{{p1.Campaign25AppImage.replace('~', '')}}" width="96px" height="96px" ng-click="showCampaign(p1)"></div>
                    <div class="col-33 campaign-col"  ng-href="data[0].MAA_Campaign.length > $index + 1" ng-init="p2 = data[0].MAA_Campaign[$index + 1]" ><img src="img/picture.png" ng-src="https://uat.muslimaid.org.au/{{p2.Campaign25AppImage.replace('~', '')}}" width="96px" height="96px" ng-click="showCampaign(p2)">
                    </div>
                    <div class="col-33 campaign-col"  ng-href="data[0].MAA_Campaignlength > $index + 1" ng-init="p3 = data[0].MAA_Campaign[$index + 2]"><img src="img/picture.png" ng-src="https://uat.muslimaid.org.au/{{p3.Campaign25AppImage.replace('~', '')}}" width="96px" height="96px" ng-click="showCampaign(p3)">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
             <div class="col-md-12 mid-col" style="margin-top: 10px" >
                  <a class="button button-block button-donate-where">DONATION WHERE MOST NEEDED</a>
              </div>
    </div>
    </ion-content>
</ion-view>


